/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
}

/* Header */
header {
    height: auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

/* Main content*/
main {
    background: url(../images/typing-test.webp) no-repeat center center/cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.container {
    width: 80vmin;
    margin: 10px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.stats {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.stats span {
    font-weight: 600;
}

#shownText {
    text-align: left;
    font-size: x-large;
}

textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 10px;
    font-size: x-large;
}

button {
    float: right;
    margin-top: 20px;
    background-color: blue;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: large;
}

#myBtn {
    margin-right: 10px;
}

.result {
    margin-bottom: 20px;
    display: none;

}

.result h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
}

#wrapper {
    display: flex;
    justify-content: space-around;
}

.wrapper p {
    text-align: center;
    font-size: large;
}

.wrapper span {
    font-weight: 600;
    text-align: right;
    font-size: large;
}

#godlike {
    font-size: xx-large;
    color: green;
    text-align: center;

}

.correctWords {
    color: lightseagreen;
}

.incorrectWords {
    color: red;
}

/* Footer */
footer {
    height: auto;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#social-networks {
    height: 65px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 120%;
    padding: 5%;
    color: #ffffff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffffff;
    margin: 40% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }